h1 {
    color: blueviolet;
    font-family: 'Orbitron', sans-serif;
        
} 
h2 {
    color: cornflowerblue;
    font-family: fantasy;
} 
h3 {
   color: coral;
   font-family: cursive; 
} 
p{  text-align: center;
    color: deeppink;
    font-family: Verdana, Geneva, Tahoma, sans-serif
} 
body{
    background-color: black;
}
img{
    width: 15%; 
    display: flex;
    align-items: center;
} 