h1 {
  color: blueviolet;
  font-family: 'Orbitron', sans-serif;
}

h2 {
  color: cornflowerblue;
  font-family: fantasy;
}
.aboutme {
  color: coral;
  font-family: cursive;
}
p {
  text-align: center;
  color: cornflowerblue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: white;
}
img {
  width: 35%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.list {
  /* background-color: #CDDC39; */
  color: orangered;
  font-family: 'Orbitron', sans-serif;
}

#introduction {
  /* border: 20px solid chocolate; */
}
.centre {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.titlecl {
  color: cornsilk;
}

.row {
  padding: 30px;
  width: 400px;
  height: auto;
}
#emotional {
  width: 52%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.background {
  background-image: url('https://images.pexels.com/photos/1376766/nature-milky-way-galaxy-space-1376766.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
}
.list-items {
  color: greenyellow;
}
.questions {
  color: black;
}

.core {
  color: firebrick;
  font-family: fantasy;
}
.mihi {
  text-align: center;
  color: #9e9e9e;
  font-family: cursive;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: #eee;
}

.Home {
  color: green;
}
.Hell {
  color: dodgerblue;
}
.warning {
  color: orange;
}
.danger {
  color: red;
}
.default {
  color: blanchedalmond;
}

.analogy {
  color: black;
}
.colorana {
  color: white;
  line-height: 1.6;
  font-family: cursive;
}
.bck {
  background-color: olive;
}
